[Unit]
Description=Almond Intelligence util to train model
After=network.target

[Service]
ExecStart=python  /home/ubuntu/almond-intelligence/almond_train.py start
ExecStop=python /home/ubuntu/almond-intelligence/almond_train.py stop
User=ubuntu
Type=simple

[Install]
WantedBy=default.target
RequiredBy=network.target